<% _.each(clients, function(client) { %>
  <div class="list-group-item client-row" data-id="{{client.id}}">
    <div class="row">
      <div class="client col col-md-3">
        <% if(client.silenced) { %>
          <span class="glyphicon glyphicon-volume-off"></span>
        <% } %>
        {{client.name}}
      </div>
      <div class="address col col-md-1">
        {{client.address}}
      </div>
      <div class="checks col col-md-8">
        <% _.each(client.checks, function(check) { %>
          <span class="label {{check.statusName}}">{{check.name}}</span>
        <% }); %>
      </div>
    </div>
  </div>
<% }); %>

<% if(clients.length === 0) { %>
  <div class="list-group-item unknown client-row">
    <div class="row">
      <div class="col col-md-12">Where did all the clients go?</div>
    </div>
  </div>
<% } %>