<% _.each(events, function(event) { %>
  <div class="list-group-item {{event.statusName}} event-row" data-id="{{event.id}}">
    <div class="row">
      <div class="client col col-md-3">
        <% if(event.client_silenced) { %>
          <span class="glyphicon glyphicon-volume-off"></span>
        <% } %>
        {{event.client}}
      </div>
      <div class="check col col-md-3">
        <% if(event.event_silenced) { %>
          <span class="glyphicon glyphicon-volume-off"></span>
        <% } %>
        <% if(event.flapping) { %>
          <span class="glyphicon glyphicon-random"></span>
        <% } %>
        {{event.check}}
      </div>
      <div class="output col col-md-6" title="{{event.occurrences}}">
        {{event.output}}
      </div>
    </div>
  </div>
<% }); %>

<% if(events.length === 0) { %>
  <div class="list-group-item unknown event-row">
    <div class="row">
      <div class="col col-md-12">Nothing to see here, for now.</div>
    </div>
  </div>
<% } %>