<!-- Modal -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{event.client}}</h4>
      <div>{{event.check}}</div>
    </div>
    <div class="modal-body">


      <div class="panel panel-info">
        <div class="panel-body">
          <div><b>Status:</b> {{event.statusName}}</div>
          <div><b>Occurrences:</b> {{event.occurrences}}</div>
          <div><b>Flapping:</b> {{event.flapping}}</div>
          <div><b>Issued:</b> {{event.issuedTime}}</div>
          <hr />
          <div><b>Address:</b> {{client.address}}</div>
          <div><b>Subscriptions:</b> {{client.subscriptions.join(', ')}}</div>
          <hr />
          <div><b>Interval:</b> {{check.interval}} seconds</div>
          <div><b>Handlers:</b> {{check.handlers.join(', ')}}</div>
          <div><b>Standalone:</b> {{check.standalone}}</div>
          <div><b>Subscribers:</b> {{check.subscribers.join(', ')}}</div>
        </div>
      </div>

      <div><pre class="{{event.statusName}}">{{event.output}}</pre></div>

    </div>
    <div class="modal-footer">
      <% if(event.silenced) { %>
        <% if(event.client_check_silenced) { %>
          <button type="button" class="btn btn-success unsilence" data-loading-text="Unsilencing..." >
            <span class="glyphicon glyphicon-volume-up"></span> Unsilence
          </button>
        <% } %>
        <% if(event.check_silenced) { %>
          <button type="button" class="btn btn-success unsilence-check" data-loading-text="Not implemented...">
            <span class="glyphicon glyphicon-volume-up"></span> Unsilence check
          </button>
        <% } %>
        <% if(event.client_silenced) { %>
          <button type="button" class="btn btn-success unsilence-client" data-loading-text="Not implemented...">
            <span class="glyphicon glyphicon-volume-up"></span> Unsilence client
          </button>
        <% } %>
      <% } else { %>
        <div class="btn-group">
          <button type="button" class="btn btn-danger silence" data-expire="900" data-loading-text="Silencing...">
            <span class="glyphicon glyphicon-volume-off"></span> Silence 15 min
          </button>
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="silence" data-expire="3600">Silence 1 hour</a></li>
            <li><a href="#" class="silence" data-expire="28800">Silence 8 hours</a></li>
            <li><a href="#" class="silence" data-expire="86400">Silence 24 hours</a></li>
            <li><a href="#" class="silence" data-expire="604800">Silence 7 days</a></li>
          </ul>
        </div>
      <% } %>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
